<h1>Sign Up for Fwitter!</h1>
<form method="post" action="/sign-up">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="submit">
</form>
