<h1>Sign Up to Fwitter!</h1>
<form method="post" action="/signup">
  <label>Name: <input type="text" name="username" placeholder="Username:"></label>
  <label>Email:<input type="text" name="email" value=""></label>
  <input type="submit">
</form>
